@model UserViewModel
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<div class="form-group">
    <label asp-for="Id" class="col-form-label"></label>
    <input asp-for="Id" class="form-control" readonly />
</div>

<div class="form-group">
    <label asp-for="FirstName" class="col-form-label"></label>
    <input asp-for="FirstName" class="form-control" readonly />
</div>

<div class="form-group">
    <label asp-for="LastName" class="col-form-label"></label>
    <input asp-for="LastName" class="form-control" readonly />
</div>

<div class="form-group">
    <label asp-for="Email" class="col-form-label"></label>
    <input asp-for="Email" class="form-control" readonly />
</div>
@* 
<div class="form-group">
    <label asp-for="Roles" class="col-form-label"></label>
    <input asp-for="Roles" class="form-control" readonly />
    @* <input value="@string.Join(" ", Model.Roles ?? Enumerable.Empty<string>())" class="form-control" readonly />

</div>  *@
