@{
    ViewData["Title"] = "CheckYourInbox";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<h1>Check Your Inbox</h1>

<div class="main-agileinfo">
	<div asp-validation-summary="All">
	</div>
	<div class="agileits-top">
		<div>
			<p>Rest Password Link Has Been Sent To Ur Email . Please Check Ur Inbox </p>
		</div>

		<div style="display: inline-block; padding: 5px; border-radius: 10px; box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1); margin: 20px 300px ">
			<a href="https://mail.google.com/" target="_blank" style="padding: 10px 20px; background-color: #28a745; color: #fff; text-decoration: none; font-size: 1em; font-weight: bold; border-radius: 5px; display: inline-block; transition: background-color 0.5s ease; ">
				Ur Inbox
			</a>
		</div>
	</div>
</div>

