@model UserViewModel
@{
    ViewData["Title"] = "Edit";
}

<h1>Edit Employee Page</h1>

<br />
<br />

<form asp-action="Edit" enctype="multipart/form-data">

    <div asp-validation-summary="All" class="alert alert-danger"></div>

    <partial name="ParitalViews/EditCreateUserParitalView" model="Model" />

    <br />

    <input type="submit" value="Save" class="btn btn-warning mt-3" />  
    <a asp-action="Index" class="btn btn-light mt-3">Back To List</a>
</form>


@section EmployeeClientSideValidationSection {
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    @* // They Need To Library  Called jquery so i need to line jquery above them but jquery linked with layout but under them  *@
}